@media (min-width: 768px)
{
  .header-elements-md-inline {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
  }
  .col-md-3.dk-training-side-menu{
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;

  }
  .col-md-9.dk-training-main-container{
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }
  .dk-admin-Mncontainer .row{
    margin-left: -8px;
    margin-right: -8px;
  }
}